doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Destiny 2 PvP Rank Simulator
		link(href="https://fonts.googleapis.com/css?family=Lora|Open+Sans|Oswald" rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="css/styles.css")
	body.site
		.header
			.logo
				img(src="img/logo.jpg")
				.logo-font
					h1.logo-font DESTINY 2
					h4 PvP Rank Simulator
			h2 Destiny 2 PvP Rank Simulator is a simple mockup of what the proposed Destiny 2 PvP rank system might look like if implemented in the most simple form.
			h3 This system assumes you get 5 points added to your rank for every win, and lose 3 points for every loss. In-game performance is not taken into consideration.
		.container
			.emblem
				.gamertag
					p.gtag r0ckking
					p.clan House of Tressel
				.power
					p 330
				.rank
					p 0
			h5 Step 1:
				input(class="gamertagText", placeholder="gamertag/psn")
			h5.step2 Step 2:
			p.step2 Select game outcome below.
			.spacer
			.button-win
				p Win
			.button-lose
				p Lose
		footer
			p Destiny 2 PvP Rank Simulator &copy; 2018
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		script(src="js/app.js")





